@font-face {
    font-family: 'Gilroy Extra Bold';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("..fonts/gilroyextrabold.woff") format("woff");
}   
 @font-face {
    font-family: 'Gilroy Light';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    
} 
@font-face {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/opensans.woff2") format("woff2"), 
         url("../fonts/opensans.woff") format("woff");
}    

@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/opensanslight.woff2") format("woff2"), 
         url("../fonts/opensans.woff") format("woff");   
    
}

:root{
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;

  --white-30: rgba(255, 255, 255, 0.3);
  --white-60: rgba(255, 255, 255, 0.6);
}

/* Global */

.page{
    height: 100%;
}

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300px;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--basic-white);
    background-position: top center;
} 

.catalog-body{
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300px;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--white-30);
    background-position: top center;

}

a {
    text-decoration: none;
    color: var(--basic-black);
}  

img {
    max-width: 100%;
    height: auto;
}

/*ul Lists*/
 
.list{
   padding: 0px;
   list-style: none;
}

/*Body*/
.page-body{
    min-height: 100%;
}

/* Header */

.header-container{
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 44px auto 0 auto;
    background-color: var(--special-yellow);
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    margin-top: -20px;
    margin-left: 60px;
}

.header-actions{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 60px;
    
}

.actions-list{ 
    margin-top: 25px;
    margin-bottom: 0;
    width: 500px;
    display: flex;
    flex-direction: row;
}

.action-item{
    font-family: "Open Sans Light", "Arial", sans-serif ;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--basic-black);       
}

.action-item:nth-child(2){
    margin-left: auto;
    margin-right: 40px;
}
 
.header-icon{
    margin-right: 14px;
}

.main-navigation{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.site-navigation{
    margin: 50px 60px 0 60px;
    display: flex;
    width: 1040px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation-item{
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
}

.navigation-item:first-child{
    margin-right: auto;
}

.navigation-item:nth-child(3){
    margin-right: 105px;
}

.navigation-item:nth-child(2){
    margin-right: 38px;
}

.id-name{
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: var(--basic-black);

}

.out{
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
}


/*Main*/
.container{
    width: 1040px;
    margin: 0 auto;
    padding: 0 10px;

}

h1{
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
}

/*Catalog Bread Crumbs*/

.bread-crumbs{
    list-style-type: none;
}
.crumb{
    font-family: "Open Sans Light","Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}

/* Slider Product */

.main-container{
    margin: 18px auto 0 auto;
    padding: 0;

    width: 1160px;
    height: auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-block{
    margin: 17px 47px 0 89px;
    padding: 0;
    width: 1024px;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.picture-product-block{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.text-product-block{
    margin-top: 94px;
    margin-left: 127px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.do-selfie{
    padding: 0;
    margin: 0;
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
}

.product-description{
    margin: 0;
    margin-top: 25px;
    font-family: "Open Sans Light", "Arial", sans-serif ;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
}

.more{
    margin-top: 60px;
}

.specifications{    
    margin-top: 60px;

    width: 447px;
    height: 72px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.values{
    padding: 0;
    display: flex; 
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.value{
    
    font-family: "Gilroy Light";
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}


.properties{
    margin-top: 14px;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.property{
    margin-right: 67px;
    font-family: "Gilroy Light";
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}


/*Filter & Sort*/

.filter,
.sort{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
}

/* Categories */


.list-categories{
    margin: 0;
    margin-top: 116px;
    margin-bottom: 38px;
    width: 1160px;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(6, 160px);
    column-gap: 40px;

}

.category-item{    
    width: 160px;
    height: 160px;

    display: grid;
    justify-content: center;
    align-items: center;

    background-color: var(--special-yellow);
}

.category{    
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.category-item:nth-of-type(2) .category{
    margin: 26px auto 17px auto;
}

.category-item:nth-of-type(1) .category{
    margin: 52px 32px 53px 31px;
}

.category-names{
    margin: 0;
    width: 1160px;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(6, 160px);
    column-gap: 40px;
}

.category-name{
    font-family: "Gilroy Extra Bold" ;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #000000;
}

.name-item:nth-of-type(2){
    width: 103px;
}

.name-item:nth-of-type(4) .category-name{
    font-family: "Gilroy Extra Bold" ;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    color: #000000;
}

/*Slider Info*/

.slider{
    margin-top: 155px;
    width: 1160px;
    height: 182px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;

    
} 

.slider-list{
    margin-left: 15px;
    width: min-content;
    height: min-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    
}

.switcher:nth-of-type(1){
    margin-bottom: 38px;
}

.switcher:nth-of-type(2){
    margin-bottom: 38px;

}


.text-slider{
    margin: 0;
    margin-left: 263px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.slider-img{
    margin-left: auto;
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

}

.caption{
    margin: 0;
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-size: 47px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 0.2em;
    color: var(--basic-black);
    
}

.slider-description{
    margin-top: 40px;
    font-family: "Open Sans Light", "Arial", sans-serif ;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-black);
    letter-spacing: 0.1em;

}
/*Можно ли каким-либо образом сократить код ниже?*/
.partners{
    margin-top: 225px;
    padding: 0;
    width: 1160px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

a.coloring-1 {
    margin-right: 40px;
    background: url(../img/partner\ 1.svg) no-repeat; 
    display: block; 
    
}
a.coloring-1:hover {
    background: url(../img/partner-color-1.svg) no-repeat;
}

a.coloring-2 {
    margin-right: 40px;
    background: url(../img/partner\ 2.svg) no-repeat; 
    display: block; 
    
}
a.coloring-2:hover {
    background: url(../img/partner-color-2.svg) no-repeat;
}

a.coloring-3 {
    margin-right: 40px;
    background: url(../img/partner\ 3.svg) no-repeat; 
    display: block;
    
}
a.coloring-3:hover {
    background: url(../img/partner-color-3.svg) no-repeat;
}

a.coloring-4{
    background: url(../img/partner\ 4.svg) no-repeat; 
    display: block;
    
}
a.coloring-4:hover {
    background: url(../img/partner-color-4.svg) no-repeat;
}
/*Catalog Product-list*/

.how-to-sort-active{
    font-family: "Open Sans Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
}

.how-to-sort{
    font-family: "Open Sans Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}

.denomination{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.cost{
    font-family: "Gilroy Light";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.number-of-page{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
}

.passive{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

/*About Us & Contacts*/

.information{
    padding: 0;
    width: 1160px;
    height: min-content;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contacts{
    margin: 0;
    margin-left: 120px;
}

.map{
    margin: 0;
    margin-top: 40px;
    margin-bottom: 65px;
}

.black-line{
    margin-bottom: 49px;
}

.description{
    margin: 0;
    margin-top: 40px;
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-black);
}

.description:nth-of-type(2){
    width: 480px;
    margin-bottom: 0;
}

.transport-companies{
    margin: 0;
    margin-top: 60px;
    margin-bottom: 80px;
    padding-left: 15px;
    list-style-image: url(../img/bullits-ul.svg) ;
}

.transport-company{
    margin-bottom: 15px;
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    color: var(--basic-black); 
}

.company{
    padding-left: 15px;
}



/*Footer*/
.main-footer{
    width: 100%;
    height: min-content;
    padding-bottom: 64px;
    margin: 67px auto 0 auto;    
    background-color: var(--basic-dark);

}

.page-footer{     
    width: 1440px;
    margin: 67px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.left-block{
    width: 220px;
    margin: 64px 0 0 140px;
    height: min-content;

}

.adress{
    margin: 0;
    margin-top: 35px;
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-white);
    
}

.footer-line{
    margin: 0;
    margin-top: 80px;

}

.middle-block{   
    margin: 138px 0 0 148px;
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info-list{
    margin: 0;
    display: flex;
    height: min-content;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.info-item{
    margin: 0;    
    margin-left: 34px;
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}

li:nth-child(1) .info-item{
    margin: 0;
}

.social-list{
    margin: 0;
    margin-top: 67px;
    width: 136px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.social-item{
    margin: 0;
}


.right-block{
    width: 325px;
    margin: 46px 140px 0 auto;
    height: min-content; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: end;

}

.cabinet{    
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.function{
    margin: 0;
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7); 
}

.function:first-of-type{
    margin-left: 0;
}

.footer-icons{
    margin-right: 13px;
}

.footer-others{
    margin-top: 73px;
}

.tel{
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-white);
}

.academy-logo{
    margin-top: 67px;
}

.footer-alt-text{
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-white);
}

/*Buttons & Switchers*/

.switcher,
.some-act{
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
    background-color: var(--special-yellow-dark);
    border: none;

}

.switcher:hover,
.some-act:hover {
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
    background-color: var(--special-yellow-dark);
    border: none;
    
   
}    

.switcher:active{
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--special-yellow);
    background-color: var(--basic-black);
    border: none;
}

.some-act:active {
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgba(000, 000, 000, 0.3);
    background-color: var(--special-yellow-dark);
    border: none;
}

