@font-face {
    font-family: 'Gilroy Extra Bold';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("..fonts/gilroyextrabold.woff") format("woff");
}   
 @font-face {
    font-family: 'Gilroy Light';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    
} 
@font-face {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/opensans.woff2") format("woff2"), 
         url("../fonts/opensans.woff") format("woff");
}    

@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/opensanslight.woff2") format("woff2"), 
         url("../fonts/opensans.woff") format("woff");   
    
}

:root{
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;

  --white-30: rgba(255, 255, 255, 0.3);
  --white-60: rgba(255, 255, 255, 0.6);
}

/* Global */

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300px;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--white-30);
    background-position: top center;
} 

.catalog-body{
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300px;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--white-30);
    background-position: top center;

}

a {
    text-decoration: none;
    color: var(--basic-black);
}  

img {
    max-width: 100%;
    height: auto;
}

/*ul Lists*/
 
.list{
    padding: 0px;
   list-style: none;
}



/* Header */

.main-header{
    padding: 20px 40px;
}
.action-item{
    font-family: "Open Sans Light", "Arial", sans-serif ;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
}

.catalog-header{
    padding: 20px 40px;
}

.id-name{
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: var(--basic-black);

}

.out{
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
}

/* Navigation */

.navigation-item{
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
}

/*Main*/
.container{
    padding: 85px 40px;
}

h1{
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
}

/*Catalog Bread Crumbs*/

.bread-crumbs{
    list-style-type: none;
}
.crumb{
    font-family: "Open Sans Light","Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}

/* Slider Product */

.do-selfie{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
}

.product-description{
    font-family: "Open Sans Light", "Arial", sans-serif ;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
}

.value{
    font-family: "Gilroy Light";
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}
.property{
    font-family: "Gilroy Light";
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}
/*Filter & Sort*/

.filter,
.sort{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
}

/* Categories */

.category{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

/*Slider Info*/

.caption{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-size: 47px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 0.2em;
    color: var(--basic-black);
    
}

.slider-description{
    font-family: "Open Sans Light", "Arial", sans-serif ;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-black);
    letter-spacing: 0.1em;

}

a.alink {
    background: url(../img/partner\ 1.svg) no-repeat; /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    
}
a.alink:hover {
    background: url(../img/partner-color-1.svg) no-repeat;
}

/*Catalog Product-list*/

.how-to-sort-active{
    font-family: "Open Sans Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
}

.how-to-sort{
    font-family: "Open Sans Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}

.denomination{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.cost{
    font-family: "Gilroy Light";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.number-of-page{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
}

.passive{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

/*About Us & Contacts*/

.description{
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-black);
}

.transport-companies{
    padding: 20px;
    list-style-type: circle ;
}

.transport-company{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    color: var(--basic-black); 
}

/*Footer*/
.page-footer{
    padding: 65px 40px ;
    background-color: var(--basic-dark);
}

.adress{
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-white);
}
.info-item{
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}
.footer-alt-text{
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-white);
}

.enter,
.function{
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7); 
}


.tel{
    font-family: "Open Sans Light";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-white);
}

/*Buttons & Switchers*/

.switcher,
.some-act{
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
    background-color: var(--special-yellow-dark);
    border: none;

}

.switcher:hover,
.some-act:hover {
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
    background-color: var(--special-yellow-dark);
    border: none;
    
   
}    

.switcher:active{
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--special-yellow);
    background-color: var(--basic-black);
    border: none;
}

.some-act:active {
    font-family: "Gilroy Extra Bold", "Arial", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgba(000, 000, 000, 0.3);
    background-color: var(--special-yellow-dark);
    border: none;
}

