@font-face {
    font-family: 'Gilroy Extra Bold';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("..fonts/gilroyextrabold.woff") format("woff");
}   
 @font-face {
    font-family: 'Gilroy Light';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    
} 
@font-face {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/opensans.woff2") format("woff2"), 
         url("../fonts/opensans.woff") format("woff");
}    

@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/opensanslight.woff2") format("woff2"), 
         url("../fonts/opensans.woff") format("woff");   
    
}

:root{
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;

  --unusual-yellow: #FFC600;
  
  --black-30:  rgba(0, 0, 0, 0.3);
  --black-40:  rgba(0, 0, 0, 0.4);
  --black-60:  rgba(0, 0, 0, 0.6);

  --white-30: rgba(255, 255, 255, 0.3);
  --white-60: rgba(255, 255, 255, 0.6);

  --pagination-background: #EBEBEB;
  --pagination-hover: #D9D9D9;
}

/* Global */

.page{
    height: 100%;
}

body{
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--basic-white);
    background-position: top center;
} 

a {
    text-decoration: none;
    color: var(--basic-black);
}  

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*ul Lists*/
 
.list{
   padding: 0px;
   list-style: none;
}

/*Main Body*/
.page-body{
    min-height: 100%;
    position: relative;
}

/* Blank */

.body-blank{
    width: 100%;
    height: 100%;
    background-color: var(--special-yellow);
}

.main-blank{
    width: 650px;
    height: 600px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}

.blank-text{
    margin-top: 60px;
    font-size: 30px;
    line-height: 50px;
}

.blank-text span{
    font-size: 40px;
    line-height: 50px;
}

.block-blank{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.link-blank{
    width: max-content;
    height: max-content;
    padding: 10px 20px;
    background-color: var(--special-yellow-dark); 
}

.link-blank:hover{
    opacity: 0.7;
}

.link-blank:active{
    opacity: 0.3;
}

/* Header */

.page-body .main-header{
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 44px auto 0 auto;
    padding-bottom: 164px;
    background-color: var(--special-yellow);
    position: relative;
    
}


.catalog-body .main-header{
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 44px auto 0 auto;
    padding-bottom: 50px;
    background-color: var(--special-yellow);
    position: relative;
}

.page-body .main-header::after {
    content: "";
    position: absolute;
    right: 460px;
    top: 205px;
    width: 100px;
    height: 7px;
    margin: 0;
    padding: 0;
    background-color: var(--basic-white);
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    margin-top: -20px;
    margin-left: 60px;
}

.device-logo:hover{
    fill-opacity: 0.6;
}

.device-logo:active{
    fill-opacity: 0.3;
}

/* Forms */

.site-search{
    min-width: 300px;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.search-label{
    align-self: center;
    margin-right: 24px;
}

.search-form,
.button-search{
    border: none;
    background: none;
    outline: none;
    font-family: "Open Sans Light" ,"Tahoma", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-black);
}



.search-form{
    align-self: center;
    color: var(--black-30);
}

.search-form:hover{
    color: var(--black-60);
}

.search-form:focus,
.search-form:active{
    color: var(--basic-black);
}

.button-search{
    margin-left: 160px;
    display: none;    
    outline: 2px solid var(--basic-black);
    padding: 14px 16px;
    text-transform: uppercase;  
    position: relative;
    position: relative;
    
}

.button-search:hover{
    display: block;
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.button-search:active{
    display: block;
    background-color: var(--basic-black);
    color: var(--white-30);
}

.button-search::before{
    position: absolute;
    content: "";
    bottom: -2px;
    left: -380px;
    width: 440px;
    height: 2px;
    background-color: var(--basic-black);
}

.search-form:active+.button-search,
.search-form:focus+.button-search{    
    display: block;
}

.header-actions{
    min-width: 500px;
    min-height: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;  
    
}

.actions-list{ 
    margin: 0;
    margin-top: 15px;
    width: 500px;
    display: flex;
    flex-direction: row;
}

.action-item{
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--basic-black);  
}

.action-item:nth-child(2){
    margin-left: auto;
    margin-right: 40px;
}
 
.action-item:hover{
    opacity: 0.6;
}

.action-item:active{
    opacity: 0.3;
}

.action-img-index{
    margin-right: 10px;
}

.main-navigation{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.site-navigation{
    margin: 35px 60px 0 60px;
    padding: 0;
    display: flex;
    width: 1040px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation-item{
    margin: 0;
    padding: 0;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif ;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
}

.navigation-item:first-child{
    margin-right: auto;    
}

.navigation-item:nth-child(2){
    margin-right: 35px;
}

.navigation-item:nth-child(3){
    margin-right: 108px;
}

.navigation-item:nth-child(4){
    width: min-content;
    margin-right: -3px;
}


.navigation-item:hover{
    opacity: 0.6;
}

.navigation-item:active{
    opacity: 0.3;
}

.nav-icon-plus{
    margin-left: 8px;
    margin-top: 4px;
}

/*Catalod Body*/
.catalog-body{
    min-width: 1160px;
    height: min-content;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: repeat(3, auto);

    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300px;
    color: var(--basic-black);
    text-transform: none;
    background-color: var(--white-30);
    background-position: top center;
}

/*Catalog Header*/
.catalog-header-container{
    display: flex;
    flex-direction: column;
    width: 1160px;
    height: auto;
    margin: 44px auto 0 auto;
    padding-bottom: 50px;
    background-color: var(--special-yellow);
}

.сatalog-actions-list{
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 0;
    width: 500px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.catalog-action-item{
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--basic-black); 
}

.catalog-action-item:nth-child(1){
    margin-right: auto;
}

.catalog-action-item:nth-child(2){
    margin-right: 60px;
}

.catalog-action-item:nth-child(3){
    margin-right: 40px;
}

.catalog-action-item:hover{
    opacity: 0.6;
}

.catalog-action-item:active{
    opacity: 0.3;
}

.action-img{
    margin-right: 13px;
}

.id-name{
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: var(--basic-black);
}

.out{
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: var(--basic-black); 
    opacity: 0.3;
}

/*Catalog Product-list*/

.catalog-heading-block{
    box-sizing: border-box;
    margin: 44px auto 0 auto;
    padding-left: 200px;
    width: 1440px;
    height: auto;
} 


.catalog-heading{
    margin: 0;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);    
}

.catalog-grid{
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 468px 972px;
    grid-template-rows: 70px auto;
}

.text-filter{    
    background-color: #DCDCDC;
}

.filter{
    margin: 25px 193px 25px 200px;
}

.catalog-filter{
    padding-right: 69px;
    height: auto;
    background-color: var(--basic-grey-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Forms */
.catalog-forms{
    width: 200px;
    height: auto;
}

.catalog-filter-cost{
    margin: 0;
    margin-top: 87px;
    min-height: 91px;
    padding: 0;
    border: none;
    font-family: "Gilroy Light", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);  
    position: relative;
}

.filter-legend{
    position: absolute;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}

.catalog-filter-cost::after,
.catalog-filter-color::after,
.catalog-filter-bluetooth:after{
    content: "";
    top: -17px;
    width: 200px;
    height: 2px;
    background-color: var(--basic-black);
    position: absolute;
}

.range-filter{
    position: relative;
    margin-top: 35px;
}

.range-controls{
    position: relative;
    top: 20px;      
}

.range-controls .scale{
    width: 200px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 17px;
}

.range-controls .bar{
    width: 94px;
    height: 2px;
    margin-left: 20px;
    background-color: var(--special-green);
}

.range-controls .toggle{
    position: absolute;
    left: 0;
    top: -10px;
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: #C4C4C4;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

.range-controls .toggle-max {
    left: 114px;
}

.min-price,
.max-price{
    padding: 0;
    position: absolute;
    max-width: 200px;
    margin: 0;
    margin-top: 19px;    

    font-family: "Gilroy Light", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;    
    color: var(--basic-black);
    border: 0;
    outline: none;
    background: none;
}

.max-price{
    margin-left: 99px;
}

.price-box{
    width: 55px;
    outline: none;
    border: none;
    background: none;
}

.price-box{
    margin-left: -3px;
}

.catalog-filter-color{
    margin: 0;
    width: 200px;
    padding: 0;
    margin-top: 54px;
    border: none;
    position: relative;
}

.option{
    display: block;
    margin-bottom: 20px;
}

.color-item{
    margin: 0;
    margin-left: 43px;
    margin-bottom: 20px;
    position: relative;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);

}

.color-item:first-of-type{
    margin-top: 48px;
}

.check-box{
    position: absolute;
    content: "";    
    width: 24px;
    height: 24px;
    top: -2px;
    left: -43px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;    
}

/* Cheked */
.color-checkbox-input:checked + .check-box{
    outline: none;
    background-image: url(../img/filter-checkbox.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



/* Focused
.color-checkbox-input:focus + .check-box{
    outline: 2px solid var(--special-green);
} */

/*Hover */
.color-checkbox-input:hover + .check-box,
.radio-input:hover + .radio-box{
    outline: none;
    opacity: 0.6;
}

/* Cheked active */
.color-checkbox-input:checked:active + .check-box{
    outline: none;
    background: none;
    opacity: 1;
}

/* Bluetooth */
.catalog-filter-bluetooth{    
    width: 200px;
    margin: 0;
    margin-top: 37px;
    padding: 0;
    position: relative;    
    border: none;
}

.radio-item{
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    margin-left: 42px;
    margin-bottom: 20px;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
}

.radio-item:first-of-type{
    margin-top: 48px;
}

.radio-box{
    position: absolute;
    content: "";    
    width: 24px;
    height: 24px;
    top: -2px;
    left: -43px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;    
}

.radio-input:checked + .radio-box::before {
    content: url(../img/Ellipse-radio.svg);
    position: absolute;
    left: 6px;
    top:  -1px;
    width: 8px;
    height: 8px;
}



.catalog-sort{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--basic-grey-light);
    position: relative;
}

.sort-ways{
    min-width: 45px;
    margin: 0;
    margin-left: auto;
    margin-right: 145px;
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.polygone{
    border: none; 
    background: none;
    outline: none;
}

.polygone-1{
    opacity: 0.2;
}

.polygone:hover{
    opacity: 0.4;
}

.polygone:active{
    background: none;
    border: none;
    opacity: 1;
}

.sort{
    margin: 25px -2px 25px 72px;    
}

.how-to-sort{   
    margin-right: 30px;
    font-family: "Open Sans Regular", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black); 
    opacity: 0.3;
}

.how-to-sort.active{
    font-family: "Open Sans Regular", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
    color: var(--basic-black);
}

.how-to-sort:hover{
    opacity: 0.6;
}

.how-to-sort:active{
    opacity: 1;
}

.sort-list{
    margin: 22px 0 0 74px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.product-list{
    margin: 70px auto 0 72px;   
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 455px 455px;   
    column-gap: 40px; 
    row-gap: 48px;
}

.product-item{
    margin: 0;
    position: relative;
}

.product-name{
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.denomination{
    padding: 0;
    margin: 0;    
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.product-item:nth-child(4) .denomination{
    width: 245px;
}

.product-item:nth-child(4)::after{
    content: url(../img/new.svg);
    width: 62px;
    height: 62px;
    position: absolute;
    top: 29px;
    right: 27px;
}
    

.cost{
    margin: 0;  
    padding: 0;  
    font-family: "Gilroy Light", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.product-item:nth-child(1) .cost{
    margin-left: 18px;
    margin-top: 4px;
}

.product-item:nth-child(2) .cost{
    margin-left: auto;
    margin-top: 4px;
}

.product-item:nth-child(3) .cost{
    margin-left: auto;
    margin-top: 4px;
}

.product-item:nth-child(4) .cost{
    margin-top: 2px;
    margin-left: auto;    
}

.paginated-navigation{
    width: 760px;
    margin: 38px auto 78px 72px;
    grid-column: 1/3; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--pagination-background);
}

.numbers{
    margin-left: 30px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.back{
    display: block;
    padding: 25px 30px;
    margin: 0;
    margin-right: auto;
    background-color: var(--pagination-background);
}

.number-of-page{
    cursor: pointer;
    margin-right: 30px;
    margin-top: 25px;
}

.passive{    
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black); 
    opacity: 0.3;
}

.passive:hover{
    opacity: 0.6;
}

.passive:active{
    opacity: 1;
}

.next{
    margin: 0;
    display: block;
    padding: 24px 30px 25px 24px;
    margin-left: auto;
}

.number-of-page,
.back,
.next{    
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);    
}

.back:hover,
.next:hover{
    background-color: var(--pagination-hover);
}

.back:active .back-text,
.next:active .next-text{
    opacity: 0.3;
}

.slider-controls {
    position: absolute;
    bottom: 172px;
    right: 75px;
    z-index: 20;
}


/*Catalog Bread Crumbs*/

.bread-crumbs{
    margin: 0;
    margin-top: 28px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    list-style-type: none;
}

.crumb,
.crumb-current{
    padding: 0;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black); 
    opacity: 0.3;

    position: relative;
}

.crumbs-icon{
    margin: 0 18px 0 18px;

}


/* Slider Product */

.main-container{
    margin: -145px auto 0 auto;
    padding: 0;

    width: 1160px;
    height: auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    position: relative;
    z-index: 100;
}

.main-slider{
    position: relative;
}

.slide {
    display: none;
}


.product-block{
    margin: 17px 47px 0 89px;
    padding: 0;
    width: 1024px;
    height: 506px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.slider-number{
    top: -19px;
    right: 5px;
    position: absolute;
    font-family: "Gilroy Extra Bold";
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
    z-index: -2;
}

.number-1{
    top: -19px;
    right: 0;
}

.picture-product-block-1{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.picture-product-1{
    position: absolute;
    top: -2px;
    left: 0;
}

.picture-product-2{
    position: absolute;
    top: 24px;
    left: 26px;
}

.picture-product-3{
    position: absolute;
    top: 80px;
    left: -60px;
}

.text-product-block-1{
    margin-top: 90px;
    margin-right: 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.text-product-block-2{
    margin-top: 92px;
    margin-right: 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.text-product-block-3{
    margin-top: 90px;
    margin-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.do-selfie{
    padding: 0;
    margin: 0;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: var(--basic-black);
}

.product-description{
    margin: 0;
    margin-top: 25px;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
}

.more{
    margin-top: 60px;
    margin-left: 44px;
}

.specifications{    
    margin-top: 60px;

    width: 447px;
    height: 72px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.values{
    padding: 0;
    display: flex; 
    width: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.values-3{
    padding: 0;    
    display: flex; 
    width: inherit;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}


.value{       
    font-family: "Gilroy Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}

.value-3{   
    margin-right: 80px;    
    font-family: "Gilroy Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}

.properties{
    margin-top: 14px;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    width: inherit;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.property{
    margin-right: 67px;
    font-family: "Gilroy Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: var(--basic-black);
}

.slider-controls button{    
    outline: none;
    margin-right: 13px;
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid var(--basic-black);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.current::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    background-image: url(../img/circle-slider-button.svg);
}

.slide-current {
    display: block;
}

/*Filter & Sort*/

.filter,
.sort{
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--basic-black);
}

/* Categories */
.categories{
    height: min-content;
    margin: 0;
    margin-top: 78px;
}

.list-categories{
    margin: 0;    
    width: 1160px;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(6, 160px);
    column-gap: 40px;

}

.category-item{
    width: 160px;
    height: 238px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.category{    
    width: 160px;
    height: 160px;

    display: grid;
    justify-content: center;
    align-items: center;

    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.05em;

    color: var(--basic-black);
    background-color: var(--special-yellow);
}

.category:hover{    
    background-color: var(--special-yellow-dark);
}

.category:active path{
    fill-opacity: 0.3;
}

.category-item:active .category-name{
    opacity: 0.3;
}

.category-item:nth-of-type(2) .category-picture{
    margin-top: 10px;
}

.category-name{
    margin-top: 38px;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #000000;
}

.category-item:nth-of-type(4) .category-name{
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    color: #000000;
}

/*Slider Info*/

.services{
    width: 1160px;
    height: auto;
    margin: 0;
    margin-top: 158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
}

.services-background{
    position: absolute;
    z-index: -1;
    content: "";
    width: 1440px;
    height: 288px;
    left: -141px;
    top: 30px;

    background-color: var(--basic-grey-light);
}

.slider-1,
.slider-3{
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 400px;
    width: 758px;
    height: 182px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
    
} 

.slider-2{
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 240px;
    width: 758px;
    height: 182px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
} 


.slider-list{
    margin-top: 22px;
    width: min-content;
    height: min-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    position: relative;
}

.slider-list li{
    width: 160px;
    text-align: center;
    position: relative;
}

.slider-list::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 320px;
    right: -124px;
    bottom: -85px;
    background-color: var(--basic-black);
}

.text-slider{
    margin: 0;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.slider-1-img{
    width: 136px;
    height: 164px;
    margin-left: auto;
    margin-right: 2px;
    background-image: url(../img/deliver.svg);   
}

.slider-2-img{
    width: 171px;
    height: 195px;
    margin-top: -18px;
    margin-left: auto;
    margin-right: -16px;
    background-image: url(../img/warranty.svg);   
}

.slider-3-img{
    width: 156px;
    height: 188px;
    margin-top: -23px;
    margin-left: auto;
    margin-right: 6px;
    background-image: url(../img/credit.svg);   
}

.caption-slider{
    margin: 0;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 47px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 0.2em;
    color: var(--basic-black);    
}

.caption{
    margin: 0;
    margin-top: 58px;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 47px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 0.2em;
    color: var(--basic-black);    
}


.slider-description{
    margin-top: 40px;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-black);
    letter-spacing: 0.1em;

}

.partners{
    margin-top: 225px;
    padding: 0;
    width: 1160px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

a.coloring-1 {
    margin-right: 40px;
    background: url(../img/partner\ 1.svg) no-repeat; 
    display: block; 
    
}
a.coloring-1:hover {
    background: url(../img/partner-color-1.svg) no-repeat;
}

a.coloring-2 {
    margin-right: 40px;
    background: url(../img/partner\ 2.svg) no-repeat; 
    display: block; 
    
}
a.coloring-2:hover {
    background: url(../img/partner-color-2.svg) no-repeat;
}

a.coloring-3 {
    margin-right: 40px;
    background: url(../img/partner\ 3.svg) no-repeat; 
    display: block;
    
}
a.coloring-3:hover {
    background: url(../img/partner-color-3.svg) no-repeat;
}

a.coloring-4{
    background: url(../img/partner\ 4.svg) no-repeat; 
    display: block;    
}

a.coloring-4:hover {
    background: url(../img/partner-color-4.svg) no-repeat;
}


/*About Us & Contacts*/

.information{
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 68px;
    width: 1160px;
    height: min-content;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.about-us{
    margin: 0;
    position: relative;
}

.about-us::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    left: 0;
    top: 0px;
    background-color: var(--basic-black);
}

.contacts{
    height: auto;
    position: relative;
    margin: 0;
    margin-left: 120px;
}

.contacts::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    left: 0;
    top: 0px;
    background-color: var(--basic-black);
}

.map{
    position: relative;
    width: 560px;
    height: 222px;
    margin-top: 40px;
    margin-bottom: 62px;
    cursor: pointer;
}


.description{
    margin: 0;
    margin-top: 40px;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-black);
}

.description:nth-of-type(2){
    width: 480px;
    margin-bottom: 0;
}

.transport-companies{
    margin: 0;
    margin-top: 58px;
    margin-bottom: 77px;
    padding-left: 15px;
    list-style-image: url(../img/bullits-ul.svg) ;
}

.transport-company{
    margin-bottom: 15px;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    color: var(--basic-black); 
}

.company{
    padding-left: 15px;
}

.more-about-us{
    margin: 0;
    margin-left: 25px;
}

.write-to-us{
    margin: 0;
    margin-left: 40px;
}


/*Footer*/
.page-footer{
    width: 1440px;
    height: min-content;

    padding: 0 140px 64px 140px;
    margin: 0 auto 0 auto; 
    
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: var(--basic-dark);
}


.top-blocks{
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-logo{
    margin-top: 64px;
}

.footer-logo:hover{
    opacity: 0.6;
}

.footer-logo:active{
    opacity: 0.3;
}

/*Main cabinet*/
.index-cabinet{ 
    min-width: 325px;
    margin: 45px 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.index-cabinet .function:first-of-type{
    margin-right: 45px;
}

.index-cabinet .function:nth-of-type(2){
    margin-right: 42px;
}

.index-cabinet .function:last-of-type{
    margin-right: 0;
}

.main-footer-id{
    margin-right: 9px;
}
/*Catalog cabinet*/
.catalog-cabinet{ 
    min-width: 478px;
    margin: 45px 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.catalog-cabinet .out-function,
.catalog-cabinet .function{
    margin-right: 42px;
}

.catalog-cabinet .function:last-of-type{
    margin-right: 0;
}

.catalog-cabinet .id-name-function{
    margin-right: 24px;
}

.catalog-cabinet .id-name-function:hover,
.catalog-cabinet .out-function:hover{
    opacity: 1;
}

.catalog-cabinet .id-name-function:active,
.catalog-cabinet .out-function:active{
    opacity: 0.3;
}

.catalog-footer-icons{
    margin-right: 8px;
}

.id-icon{
    margin-right: 10px;
}

.catalog-footer-flex{
    min-width: 1160px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.left-block{
    margin: 0;
    margin-top: 1px;
    padding: 0;
    position: relative;
}

.catalog-middle-block{
    margin-top: 35px;
    margin-left: 165px;
    padding: 0;
}

.info-list{
    margin: 0;
    display: flex;
    height: min-content;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.social-list{
    margin: 0;
    margin-top: 67px;
    margin-left: 145px;
    width: 136px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-right-block{
    margin-top: 35px;
    margin-left: auto;
    padding: 0;
}
.academy-logo{
    margin-top: 68px;
    display: flex;
    flex-direction: row;
}

.html-academy{
    margin: 0;
    margin-left: auto;
}

.main-footer-logo:hover{
    fill-opacity: 0.6;
}

.main-footer-logo:active{
    fill-opacity: 0.3;
}

.adress{
    margin: 0;
    margin-top: 35px;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-white);
    
}

.adress::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 7px;
    top: 135px;
    left: 0;
    background-color: var(--unusual-yellow);

}

.info-item{
    margin: 0;    
    margin-left: 34px;
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif ;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
}

li:nth-child(1) .info-item{
    margin: 0;
}

.info-item:hover{
    color: var(--white-60);
}

.info-item:active{
    color: var(--white-30);
}

.social-item{
    margin: 0;
}

.social-icon{
    fill-opacity: 0.3;
}

.social-icon:hover{
    fill-opacity: 0.6;
}

.social-icon:active{
    fill-opacity: 0.1;
}

.function,
.id-name-function,
.out-function{
    margin: 0;
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-white);
    opacity: 0.7; 
}

.function:first-of-type{
    margin-left: 0;
}

.function:hover{
    color: var(--basic-white);
    opacity: 1;
}

.function:active{
    color: var(--basic-white);
    opacity: 0.3;
}

.footer-icons{
    margin-right: 13px;
}

.footer-others{
    margin-top: 73px;
}

.tel{
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-white);
}

.html-academy:hover{
    opacity: 0.6;
}

.html-academy:active{
    opacity: 0.3;
}

.footer-alt-text{
    font-family: "Open Sans Light", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    color: var(--basic-white);
}

/*Buttons & Switchers*/

.some-act{
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
    position: relative;
    opacity: 1;
}

/* Кнопка "подробнее" */
.some-act.more::before{
    content: "";
    width: 134px;
    height: 8px;
    padding-left: 44px;
    padding-right: 42px;
    top: 7px;
    left: -45px;
    position: absolute;
    z-index: -1;
    background-color: var(--special-yellow-dark);
}

.some-act.more:hover:before{
    width: 134px;
    height: 8px;

    top:-10px;
    padding-left: 44px;
    padding-right: 42px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.some-act.more:active{
    color: var(--black-30);
}

/* Кнопка "подробнее о нас" */
.some-act.more-about-us::before{
    content: "";
    width: 218px;
    height: 8px;
    padding-left: 24px;
    padding-right: 18px;
    top: 8px;
    left: -25px;
    position: absolute;
    z-index: -1;
    background-color: var(--special-yellow-dark);
}

.some-act.more-about-us:hover:before{
    width: 218px;
    height: 8px;
    top:-10px;
    padding-left: 24px;
    padding-right: 18px;

    padding-top: 18px;
    padding-bottom: 18px;
}

.some-act.more-about-us:active{
    color: var(--black-30);
}

/* Кнопка "напишите нам" */
.some-act.write-to-us::before{
    content: "";
    width: 180px;
    height: 8px;
    padding-left: 40px;
    padding-right: 40px;
    top: 8px;
    left: -40px;
    position: absolute;
    z-index: -1;
    background-color: var(--special-yellow-dark);
}

.some-act.write-to-us:hover:before{
    width: 180px;
    height: 8px;
    top:-10px;
    padding-left: 40px;
    padding-right: 40px;

    padding-top: 18px;
    padding-bottom: 18px;
}

.some-act.write-to-us:active{
    color: var(--black-30);
}

/* Кнопка в каталоге */
.some-act.catalog-show{
    margin-top: 33px;
    position: relative;
    z-index: 100;
    border: none;
    outline: none;
    background: none;
    left: -35px;
}

.some-act.catalog-show::before{
    content: "";
    width: 200px;
    height: 8px;
    padding-left: 38px;
    padding-right: 46px;
    top: 8px;
    left: -35px;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    background-color: var(--special-yellow-dark);
}

.some-act.catalog-show:hover:before{
    width: 200px;
    height: 8px;
    top:-10px;
    padding-left: 37px;
    padding-right: 38px;
    padding-top: 18px;
    padding-bottom: 24px;

    border: none;
    outline: none;
}

.some-act.catalog-show:active{
    color: var(--black-30);
    border: none;
    outline: none;
}

/* Кнопка modal отправить */

.some-act.post{
    margin-left: 30px;
    margin-top: 21px;
    width: 131px;
    border: none;
    background: none;
    position: relative;
    z-index: 100;
    border: none;
    outline: none;
}

.some-act.post::before{
    content: "";
    width: 200px;
    height: 8px;
    top: 8px;
    left: -30px;
    position: absolute;
    z-index: -90;
    background-color: var(--special-yellow-dark);

}

.some-act.post:hover:before{
    width: 131px;
    height: 8px;
    top: -9px;
    left: -30px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
    outline: none;
}

.some-act.post:active{
    color: var(--black-30);
    border: none;
    outline: none;
}

/* Slider's switchers */
.switcher{    
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--basic-black);
    border: none;
    outline: none;
    background: none;
}

.switcher-1{
    margin-bottom: 35px;
}

.switcher-2{
    margin-bottom: 37px;
}

.switcher-current{
    color: #F7E296;
}

.switcher-current::before{
    content: "";
    padding-top: 16px;
    padding-bottom: 16px;
    width: 277px;
    height: 8px;    
    top: -9px;
    left: 0;
    background-color: var(--basic-black);
    position: absolute;
    z-index: -1;
} 

.switcher-inactive::before{
    content: "";
    width: 160px;
    height: 8px;
    top: 8px;
    left: 0;
    background-color: var(--special-yellow-dark);
    position: absolute;
    z-index: -1;
}

.switcher-inactive:hover:before{
    width: 160px;
    height: 8px;
    top:-10px;
    border: 0;
    padding-top: 18px;
    padding-bottom: 18px;
}

.switcher-inactive:active:before{
    content: "";
    padding-top: 18px;
    padding-bottom: 18px;
    width: 277px;
    height: 8px;    
    top: -9px;
    left: 0px;
    border: 0;
    background-color: var(--basic-black);
    position: absolute;
    z-index: -1;
}

.switcher-inactive:active{
    color: var(--special-yellow);
}

/* Modal Write Us */

.modal-write{    
    display: none;
    width: 960px;
    height: 550px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 92px;

    z-index: 300;
    position: fixed;
    margin:auto;
    top: 120px;
    left:0;
    right:0;

    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.write-form{
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 82px 199px;
    column-gap: 40px;
    row-gap: 32px;    
}

.label-write{    
    font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic-black);
}

.write-input{
    margin-top: 10px;  
    padding-left: 20px;
    box-sizing: border-box;
    border: none;
    background-color: #F2F2F2;
    font-family: "Open Sans Regular", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--black-40);
    outline: none;
}

.write-input:hover{
    background-color: #EAEAEA;
}

.write-input:focus{
    background-color: var(--basic-white);
    border: 2px solid var(--special-yellow);
    color: var(--basic-black);
}

.write-input:invalid:not(:placeholder-shown){
    background-color: #F6DADA;
    border: none;
}

.your-name-input,
.your-email-input{
    width: 360px;
    height: 50px;
}

.your-letter-input{
    width: 760px;
    height: 167px;
    padding-left: 20px;
    padding-top: 15px;
    resize: none;
}

.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background-color: var(--special-yellow-dark);
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    outline: none;
}

.modal-close:after{
    content: url(../img/close-modal.svg);
    position: absolute;
    width: 19px;
    height: 19px;
    top: 18px;
    left: 18px;
    opacity: 0.7;
}

.modal-close:hover,
.modal-close:hover:after{
    opacity: 1;
}

.modal-close:active{
    opacity: 0.3;
    border: none;    
}

/* Modal Map */

.modal-map{
    z-index: 300;
    position: fixed;
    margin:auto;
    left:0;
    right:0;
    top: 70px;

    display: none;
    width: 994px;
    height: 593px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

/* Modals */
.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.5s;
}

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
}
}